.gradle
.gradletasknamecache
/build/
!gradle/wrapper/gradle-wrapper.jar
application.pid

out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.iws

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


application-*.properties
!application-example.properties

.terraform
terraform.tfstate*